* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
}

hr {
  opacity: 0.3;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.brand {
  padding-left: 50px;
  font-weight: 600;
  font-size: x-large;
}
